.btn3{
    color: blue;
}
.addToBagBtn{
    background: rgb(17, 243, 17);
    border-radius: 10px;
    padding: 10px 15px;
    border: none;

}
.Wishlist{
    border-radius: 10px;
    padding: 10px 35px;
}
